* {
    margin: 0;
    padding: 0;
}

html, body{
    background: #141E30; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #141E30 , #243B55); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #141E30 , #243B55); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    font-family: sans-serif;
    height: 100%;
}

.button {
    background-color: orange;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
    animation: button-animation 1s linear infinite;
}

.button:hover {
    background-color: #cb8300;
    color: white;
}


@media only screen and (min-width: 601px) {
    a.steak {
        display: inline-block;
        text-decoration: none;
        transition: all .3s ease-in-out;
        color: white;
        cursor: pointer;
        border-radius: 2px;
    }
    a.steak:hover {
        color: #c44952;
        transform: translateY(-5px);
        /*opacity: .8;*/
    }

    #vegan {
        margin-top: 35%;
    }

    .steak h3 {
        margin: 0;
        text-transform: uppercase;
    }
}

figure {
    padding: 0 0 0 0;
    /*-webkit-margin-end: 0px;*/
    /*-webkit-margin-start: 0px;*/
    /*margin-left: 0;*/
    /*margin-right: 0;*/
    margin: 0;
}

#pageOne {
    height: 100%;
    width: 100%;
    background-image: url('../img/woodbkg.jpg');
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    text-align: center;
    margin: 0 auto;
}

#meatMenu {
    margin-top: 5%;
    text-align: center;
    padding: 3%;
}

.chevron {
    font-size: xx-large;
    transition: .6s ease-in-out;
}

.blink {
     animation: blink-animation 2s linear infinite;
 }
@keyframes blink-animation {
    50% { opacity: 0; }
}


@keyframes button-animation {
    50% { transform: translateY(10px) }
}

@media only screen and (max-width: 1000px) {
    #meatMenu {
        margin: 0;
    }

    #vegan {
        margin: 0;
    }

    .steak img {
        width: 50%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 600px) {
   a.steak {
       display: block;
       border: solid 1px #FFFFFF;
       font-size: 16px;
       font-weight: bold;
       padding: 0 0 0 0;
       margin: 0 0 0 0;
       line-height: 18px;
       width: 100%;
       text-decoration: none;
    }
}

.bar {
    fill: steelblue;
    transition: all .3s ease-in-out;
}

.bar:hover {
    fill: brown;
}

.axis--x path {
    display: none;
}

#pageTwo {
    height: 100%;
    width: 100%;
    padding-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.state{
    fill: none;
    stroke: #a9a9a9;
    stroke-width: 1;
    transition: all.3s ease-in-out;
    cursor: pointer;
}
.state:hover{
    fill-opacity:0.5;
}
#tooltip {
    position: absolute;
    text-align: center;
    padding: 20px;
    margin: 10px;
    font-size: 12px;
    background: lightsteelblue;
    border: 1px;
    border-radius: 2px;
    pointer-events: none;
}
#tooltip h4{
    margin:0;
    font-size:14px;
}
#tooltip{
    background:rgba(0,0,0,0.9);
    border:1px solid grey;
    border-radius:5px;
    font-size:12px;
    width:auto;
    padding:4px;
    color:white;
    opacity:0;
}
#tooltip table{
    table-layout:fixed;
}
#tooltip tr td{
    padding:0;
    margin:0;
}
#tooltip tr td:nth-child(1){
    width:100px;
}
#tooltip tr td:nth-child(2){
    text-align:center;
}

#pageThree {
    height: 100%;
    width: 100%;
    background-color: orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#cloud {
    height: 400px;
    width: 400px;
    position: relative;
    display: inline-block;
    transform: rotate(-90deg);
}

.vis {
    display: inline-block;
    /*float: left;*/
}

.vis2 {
    display: inline-block;
    /*float: right;*/
}

.arc text {
    font-size: 10px;
    text-anchor: middle;
}

.arc path {
    stroke: #fff;
}