body{
    background: #141E30; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #141E30 , #243B55); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #141E30 , #243B55); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1{
    color: #FFFFFF;
}

@media only screen and (min-width: 601px) {
    a.steak {
        display: inline-block;
        text-decoration: none;
    }
    a.steak:hover {
        /*background-color: #606266;*/
        opacity: .85;
    }
}

figcaption {
    margin: 0 0 0 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 24px;
}

figure {
    padding: 0 0 0 0;
    -webkit-margin-end: 0px;
    -webkit-margin-start: 0px;
    margin-left: 0;
    margin-right: 0;
}

@media only screen and (max-width: 600px) {
   a.steak {
       display: block;
       border: solid 1px #FFFFFF;
       font-size: 16px;
       font-weight: bold;
       padding: 0 0 0 0;
       margin: 0 0 0 0;
       line-height: 18px;
       width: 100%;
       text-decoration: none;
    }
}

.bar {
    fill: steelblue;
}

.bar:hover {
    fill: brown;
}

.axis--x path {
    display: none;
}

.state{
    fill: none;
    stroke: #a9a9a9;
    stroke-width: 1;
}
.state:hover{
    fill-opacity:0.5;
}
#tooltip {
    position: absolute;
    text-align: center;
    padding: 20px;
    margin: 10px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 1px;
    border-radius: 2px;
    pointer-events: none;
}
#tooltip h4{
    margin:0;
    font-size:14px;
}
#tooltip{
    background:rgba(0,0,0,0.9);
    border:1px solid grey;
    border-radius:5px;
    font-size:12px;
    width:auto;
    padding:4px;
    color:white;
    opacity:0;
}
#tooltip table{
    table-layout:fixed;
}
#tooltip tr td{
    padding:0;
    margin:0;
}
#tooltip tr td:nth-child(1){
    width:100px;
}
#tooltip tr td:nth-child(2){
    text-align:center;
}

.vis {
    display: inline-block;
    float: left;
}

.vis2 {
    display: inline-block;
    float: right;
}

.arc text {
    font: 10px sans-serif;
    text-anchor: middle;
}

.arc path {
    stroke: #fff;
}